* {
  box-sizing: border-box;
}

/* TODO: Extract colors to CSS Variables */

body {
  background-color: #f9eded;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
}

/* TODO: Replace the color hex codes with CSS variables */
header {
  background-color: #29364f;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-wrapper h1 {
  margin: 0;
  background-color: #1d6768;
  padding: 20px 15px;
}

.header-wrapper h1 a {
  color: #f9eded;
  text-decoration: none;
}

.header-wrapper nav {
  margin-left: auto;
  display: flex;
  flex-wrap: auto;
  justify-content: center;
}

.header-wrapper nav a {
  color: #f9eded;
  padding: 0 15px;
  font-size: 20px;
  text-decoration: none;
  border-right: 2px solid #337eaa;
}

.header-wrapper nav a:last-child {
  border-right: none;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}

#main-content {
  width: 80%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 240, 248, 0.76);
  border-radius: 5px;
  font-size: 35px;
}

#main-content {
  float: left;
  color: #f9eded;
  background: #181b26;
}
