html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: black;
  text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 35px;
  background-color: aquamarine;
}

.grid-item:nth-child(3n) {
  grid-column: span 3;
  grid-row: span 2;
}

.item-10 {
  grid-column: 2 / span 3;
  grid-row: 2 / span 4;
}
