<section class="container">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <section class="flex-row justify-center">

    {{#each gallery.paintings as |painting|}}
    <!-- TODO: Use the 'painting-details' partial to render each painting of the gallery -->
    {{/each}}
  </section>
</section>