<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <!-- We render the description below, using a Handlebars.js expression. -->
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>