<h1>Pets or Animals?</h1>
<!-- Print out the type, pet boolean and fierceness of all the animals. -->
<ul>
  {{#each animals}}
  <li>
    <p>Type: {{animalType}}</p>
    <p>Pet: {{pet}}</p>
    <p>Fierceness: {{fierceness}}</p>
  </li>
  {{/each}}
</ul>