<h1>Library Books</h1>

<h2>Books you've already read</h2>
<!-- Loop through the books and if 'read' is true, list them below -->
<ul>

  <li>

  </li>

</ul>

<h2>Books you haven't read yet</h2>
<!-- Loop through the books and if 'read' is false, list them below -->
<ul>

  <li>

  </li>

</ul>