<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
  <!-- TODO: Add your code here to render dish descriptions using Handlebars.js -->
  </div>
</div>
