<section class="card">
  <!-- TODO: Link the contents of the card to the painting page using the painting ID -->

  <!-- TODO: Create the card header with the painting's title -->

  <div class="card-body">
    <!-- TODO: Create the card body with the image of the painting and the name of the artist -->
  </div>
</section>