body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.rectangle {
  border-radius: 10px;
  display: inline-block;
  margin: 50px 0;
  width: 60vw;
  height: 50vh;
  background-color: rgba(255,255,255,0.8);
  padding: 100px;
  cursor: pointer;
}
.circle {
  background-color: #ff6347;
  height: 20vh;
  width: 20vh;
}
